<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/core.css">
    <link rel="stylesheet" href="/styles/gardens.css">
    <title>Plant Tracker | Gardens</title>
</head>

<body>
    <div class="loading" id="loading">
        <div class="spinner">
        </div>
    </div>
    <div class="wrapper">
        <h1>Your Current Gardens</h1>
        <div id="gardens"></div>
        <button id="add-garden">Add New Garden</button>
    </div>

    <script src="/scripts/gardens.js"></script>
</body>

</html>