<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/core.css">
    <link rel="stylesheet" href="/styles/garden.css">
    <title>Plant Tracker | Garden</title>
</head>

<body>
     <div class="wrapper">
        <div class="loading" id="loading">
            <div class="spinner">
            </div>
        </div>
        <h1 id="garden-name"></h1>
        <div id="plants"></div>
        <button id="add-garden">Add New Plant</button>
    </div>

    <script src="/scripts/garden.js"></script>
</body>

</html>