<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/core.css">
    <link rel="stylesheet" href="/styles/garden.css">
    <title>Plant Tracker | Gardens</title>
</head>

<body>
     <div class="wrapper">
        <h1>House</h1>
        <div class="plants">
            <div class="plant">
                <h2>Tree</h2>
                <button class="delete">X</button>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet consectetur excepturi similique iusto voluptatibus aperiam. Inventore sapiente minima corrupti repellendus.</p>               
            </div>
            <div class="plant">
                <h2>Bush</h2>
                <button class="delete">X</button>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio tenetur dignissimos distinctio corrupti nulla hic mollitia laboriosam aliquam ab pariatur.</p>
            </div>
        </div>
        <button id="add-garden">Add New Plant</button>
    </div>

    <script src="/scripts/garden.js"></script>
</body>

</html>