<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/core.css">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Plant Tracker | Login</title>
</head>

<body>
    <div class="wrapper">
        <h1>Welcome to Plant Tracker</h1>
        <p>Please log in below to continue:</p>
        <div id="login">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" placeholder="Please enter your email address">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Please enter your password">

            <p id="error"></p>

            <button id="submit-btn">Submit</button>
        </div>
    </div>

    <script src="/scripts/login.js"></script>
</body>

</html>